{% import '_includes/forms' as forms %}

<h2>Tag Metadata</h2>

<p>
	Tag metadata can hold more than one element (i.e. artists, genres). The property `tags.all` provides easy access to such tags, as it joins those elements into a single string.
	This setting allows you to configure a separator to separate the elements in the string.
</p>

{{ forms.textField({
    label: 'Elements separator'|t,
    id: 'tagSeparator',
    name: 'tagSeparator',
    value: settings.tagSeparator
}) }}

<p>
	For even more convinient access to the metadata, you can additionally have them available from the root property.
</p>

{{ forms.checkbox({
	label: 'Copy all tag metadata to root'|t,
	id: 'copyTagsToRoot',
	name: 'copyTagsToRoot',
	checked: settings.copyTagsToRoot
}) }}
