.metadata-subfield-heading {
  margin-bottom: 3px;
}

.metadata-subfield-heading label {
  font-size: 11px;
  line-height: 1.4;
  color: #8f98a3;
}

.metadata-subfield + .metadata-subfield {
  margin-top: 7px;
}

.metadata-subfield + .btn.refresh {
  margin-top: 14px;
}

/*.meta .metadata-subfield + .metadata-subfield {
  margin-top: 0;
}

.meta .metadata-subfield .text {
  display: block;
  margin: -8px 0;
  padding: 14px 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none !important;
  background: transparent;
  margin: -16px 0 -8px 0;
}*/
