{% import '_includes/forms' as forms %}

<div class="assetmetadata">

    <div class="assetmetadata-input">
        <input type="hidden" name="{{ name }}" value="">

        {% for id, subfield in settings.subfields %}
            {% set value = (values[id] is defined ? values[id] : '') %}

            <div class="metadata-subfield">
                <div class="metadata-subfield-heading">
                    <label>{{ subfield.name|t }}</label>
                </div>

                {% set config = {
                    id: null,
                    name: name~'['~id~']',
                    value: value,
                    class: 'nicetext',
                    readonly: settings.readonly
                } %}

                {{ forms.text(config) }}
            </div>
        {% endfor %}

        {% if settings.showRefreshButton %}
            <div class="refresh btn">{{ 'Refresh'|t }}</div>
            <div class="spinner hidden"></div>
        {% endif %}
    </div>
</div>

{% if settings.showRefreshButton %}
    {% includejs %}
        new Craft.AssetMetadataInput(
            "{{ id|namespaceInputId|e('js') }}",
            "{{ name|namespaceInputName|e('js') }}",
            "{{ fieldId|e('js') }}",
            "{{ elementId|e('js') }}"
        );
    {% endincludejs %}
{% endif %}
